/.venv
diag.zip
.venv312/
othello_coach/__pycache__/
othello_coach/engine/__pycache__/
othello_coach/tools/__pycache__/
othello_coach/db/__pycache__/
othello_coach/ui/__pycache__/
othello_coach/insights/__pycache__/
tests/__pycache__/
venv/
othello_coach/trees/__pycache__/